.chat-page {
  position: fixed;
  width: 30rem;
  bottom: 0;
  left: 32rem;
}

.chat-header {
  background: var(--main-color);
  height: 6rem;
  overflow: hidden;
  padding: 1rem 2rem 1rem 2rem;
  color: var(--color-white);
}

.header-person-link:link,
.header-person-link:visited {
  text-decoration: none;
  display: inline-block;
  color: var(--color-white);
}

.header-person-link:active,
.header-person-link:hover {
  color: var(--color-white);
}

.header-person-img {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.header-container {
  display: inline-block;
  padding-left: 1rem;
  text-align: center;
}

.header-person-name {
  display: block;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
}

.header-last-seen {
  font-size: 1rem;
  font-weight: 400;
}

.icons-container {
  margin-top: 1rem;
}

.settings-icon:link,
.settings-icon:visited {
  margin-right: 1rem;
  display: inline-block;
  color: var(--color-white);
}

.settings-icon:active,
.settings-icon:hover {
  color: var(--color-white);
  text-decoration: none;
}

.close-icon {
  cursor: pointer;
}

.chat-body {
  height: 35vh;
  overflow: auto;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-light-grey-2);
  width: 100%;
  padding: 0 1rem;
}

.message {
  padding: .7rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 15px;
  width: 60%;
  margin: 1rem 0;
  font-weight: 400;
}

.others-message {
  background: var(--color-other-message);
  color: var(--color-white);
}

.my-message {
  background: var(--color-my-message);
  color: var(--color-dark-grey-1);
}

.chat-message-write {
  position: relative;
}

.chat-message-input {
  display: inline-block;
  padding: 1.5rem 1rem;
  outline: none;
  background: var(--color-dark-grey-1);
  width: 100%;
  font-size: 1.2rem;
  height: auto;
  word-break: break-word;
  overflow: auto;
  font-family: inherit;
  background: var(--color-white);
  color: var(var(--color-dark-grey-1));
  border: none;
  border-top: 1px solid var(--color-light-grey-1);
}

.send-btn {
  display: inline-block;
  position: absolute;
  top: 2.8rem;
  right: 2rem;
  border: none;
  background: transparent;
}

.send-icon {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--main-color);
  padding-right: .5rem;
}